<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net47" />
  <package id="EventFlow" version="0.49.3031" targetFramework="net47" />
  <package id="EventFlow.Autofac" version="0.49.3031" targetFramework="net47" />
  <package id="LiteDB" version="3.1.4" targetFramework="net47" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
</packages>